@model IEnumerable<OnlineMovieBooking.ViewModels.CinemaHallViewModel>

@{
    ViewBag.Title = "Select CinemaHall";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<h2 class="text-center">Select Cinema Hall</h2>

@foreach (var item in Model)
{
    
}