@model IEnumerable<OnlineMovieBooking.Models.City>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SelectCity</title>
</head>
<body>
    <div>
        <h4>City</h4>
        <hr />
         
        <dl class="dl-horizontal">
            @foreach (var item in Model)
            {
                <dd>
                    @Html.DisplayFor(modelItem=>item.Name)
                </dd>
                <dd>
                    @Html.ActionLink("Select", "SelectShowByCinemaHall", new { id = item.CityId })

                </dd>
                
            }



            </dl>
    </div>
    <p>
      
        @Html.ActionLink("Back to List", "Index")
        
    </p>
</body>
</html>
