@model IEnumerable<OnlineMovieBooking.ViewModels.FeedbackViewModel>

@{
    ViewBag.Title = "FeedBack";
    Layout = "~/Views/Shared/_MovieLayout.cshtml";
}

<h2>FeedBack</h2>

<hr />

<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <th>Review</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.User.Username)</td>
            <td>@Html.DisplayFor(modelItem => item.Review)</td>
        </tr>
    }
</table>


<p>
    @Html.ActionLink("Back to MovieInfo", "Index") |
    @Html.ActionLink("Add Review", "AddFeedBack")
</p>

